<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036148748900-u6r1q93ccb8p4sha0ueeaaitmjl2isbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036148748900-u6r1q93ccb8p4sha0ueeaaitmjl2isbe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1036148748900-tdlpdhh1cturhthklmne4ubvqo7h65ur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhNQBzrEP-4HTOTblZLlrMaBw9WPUQerA</string>
	<key>GCM_SENDER_ID</key>
	<string>1036148748900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentofy</string>
	<key>PROJECT_ID</key>
	<string>socialauth-fc814</string>
	<key>STORAGE_BUCKET</key>
	<string>socialauth-fc814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036148748900:ios:8c64a4ab1868374ef4e571</string>
</dict>
</plist>